@import '../../../../../assets/styles/variables.scss';

.navbar {
    background: $black1;
    height: $navbar-height;
    padding: $navbar-padding 0;
    width: 100%;

    .logo {
        border-radius: 2rem;
        cursor: pointer;
        height: $navbar-height;
        margin: auto;
        width: $navbar-height;

        img {
            width: 100%;
        }
    }
}